*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   font-family: 'outfit', sans-serif;
}
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

.App{
  min-height: 130vh;
  color: white;
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(112, 45, 45, 0)), rgb(0, 0, 0);
}